/* # Gestion des listes */

&-list
{

/* # _Reset_ partiel */

/*
		<ul class="rm-list">
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
		</ul>
*/

	&
	{
		padding: 0;
		list-style-type: none;
	}

/* # Affichage des _items_ en ligne */

/*
Note : des commentaires sont nécessaires si l’on souhaite supprimer les nœuds textes.
*/

/*
		<ul class="rm-list rm-list-inline-block"><!--
		 --><li>Lorem ipsum dolor</li><!--
		 --><li>Lorem ipsum dolor</li><!--
		 --><li>Lorem ipsum dolor</li><!--
		</ul>
*/

	&-inline-block
	{
		& > *
		{
			display: inline-block;
		}
	}

/* # Affichage des _items_ en flottants */

/*
Note : le flux est automatiquement rétablit.
*/

/*
		<ul class="rm-list rm-list-float">
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
		</ul>
*/

	&-float
	{
		@include smash-clearfix;
		
		& > *
		{
			float: left;
		}
	}

/* # Affichage des _items_ séparés par des barres verticales */

/*
Note : à combiner avec `.rm-list-float` ou `.rm-list-inline-block`.
*/

/*
		<ul class="rm-list rm-list-float rm-list-pipe">
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
		</ul>
*/

	&-pipe
	{
		& > *
		{
			&:before
			{
				content: '\00A0| ';
			}
		}
	}
	
	&-pipe,
	&-greater,
	&-slash
	{
		& > *
		{
			&:first-child
			{
				&:before
				{
					content: none;
				}
			}
		}
	}

/* # Affichage des _items_ séparés par des signes supérieurs */

/*
Note : à combiner avec `.rm-list-float` ou `.rm-list-inline-block`.
*/

/*
		<ul class="rm-list rm-list-float rm-list-greater">
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
		</ul>
*/

	&-greater
	{
		& > *
		{
			&:before
			{
				content: '\00A0> ';
			}
		}
	}

/* # Affichage des _items_ séparés par des barres obliques */

/*
Note : à combiner avec `.rm-list-float` ou `.rm-list-inline-block`.
*/

/*
		<ul class="rm-list rm-list-float rm-list-slash">
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
		</ul>
*/

	&-slash
	{
		& > *
		{
			&:before
			{
				content: '\00A0/ ';
			}
		}
	}
}