/* # Alignements */

/*
    <p class="rm-text-center">Lorem ipsum dolor sit amet.</p>
*/

&-txt
{
  &-center
  {
      text-align: center;
      hyphens: none;
  }
  &-left
  {
      text-align: left;
      hyphens: none;
  }
  &-right
  {
      text-align: right;
      hyphens: none;
  }
  &-justify
  {
      text-align: justify;
      hyphens: auto;
  }
  
/* # Transformations */

/*
    <p class="rm-text-uppercase">Lorem ipsum dolor sit amet.</p>
*/
  
  &-none
  {
      text-transform: none;
  }
  &-lowercase
  {
      text-transform: lowercase;
  }
  &-uppercase
  {
      text-transform: uppercase;
  }
  &-capitalize
  {
      text-transform: capitalize;
  }
}

/* # Gestion des blancs */

/*
    <p class="rm-pre">Lorem ipsum
    dolor sit amet.</p>
*/

&-wrap
{
    white-space: normal;
}
&-nowrap
{
    white-space: nowrap;
}
&-pre
{
    white-space: pre;
}

/* # Débordements */

/*
    <div class="rm-grid_col-1">
      <p class="rm-overflow-hidden rm-ellipsis">Loremipsumdolorsitamet.</p>
    </div>
*/

&-ellipsis
{
    text-overflow: ellipsis;
}

/* # Emphases */

/*
    <p class="rm-bold rm-italic">Lorem ipsum dolor sit amet.</p>
*/

&-normal
{
  font-weight: normal;
  font-style:  normal;
}
&-bold
{
  font-weight: bold;
}
&-italic
{
  font-style: italic;
}
&-caps
{
  font-variant: small-caps;
}
