/* # Formulaires */

@at-root 
{
	form 
	{
		p 
		{
			margin-bottom: smash-size($smash-lh/2, 'em');
		}
	}


	/**
	 * LABEL
	 */

	label
	{
		display: block;
	}


	/**
	 * FIELDS
	 */

	input,
	select,
	textarea,
	button
	{
		padding-top: 0;
		padding-bottom: 0;
		@include border-radius(0);
		border: 1px solid;
		transition: border $smash-transition, color $smash-transition;

		// Please note: only remove the focus if you DO
		// provide a visual alternative.
		&:focus,	
		&:active 
		{
			outline: none;
		}
		// Never remove outline without providing an alternative!
		// A11y is love ♥︎
	}

	input,
	select,
	textarea
	{
		@include inline-block(top);
		width: 100%;
		max-width: 100%;
		@include transition(color .2s ease-in);
		border: 1px solid $silver;
		background-color: $white;
		color: $black;
		padding-left: smash-size($smash-gutter, 'em');
		
		@include transition(border-color $smash-transition);
		
		&:focus,
		&:active
		{
			border-color: $black;
		}
	}

	input,
	textarea
	{
		padding-right: smash-size($smash-gutter, 'em');
		
		

		&:focus
		{
			
		}
	}

	input,
	select 
	{
		height: smash-size($smash-lh*2);
	}

	input
	{
		@include input-placeholder
		{
			color: rgba($black, .6);
			@include transition(color $smash-transition);
		}
	}

	input[type="radio"],
	input[type="checkbox"]
	{
		width: auto;
		height: auto;
		line-height: auto;
		background-image: none;
		padding: 0;
	}

	// Webkit autofill background-color
	input
	{
		&:-webkit-autofill
		{
			-webkit-box-shadow: 0 0 0px 1000px $white inset;
		}
	
		&::-ms-clear
		{
			display: none;
		}
	}




	/**
	 * TEXTAREA
	 */

	textarea
	{
		height: smash-size($smash-lh*6);
	}


	/**
	 * SELECT
	 */
	select 
	{
		padding-right: 0;
	}

	/**
	 * SUBMIT
	 */
	button,
	input[type="submit"],
	%-btn
	{
		position: relative;
		@include inline-block(top);
		width: auto !important;
		height: smash-size( $smash-lh*2 );
		padding-right: smash-size($smash-gutter, 'em');
		padding-left: smash-size($smash-gutter, 'em');
		line-height: 1;
		border: 0;
		
		background-color: $heavy-metal;
		color: $white;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		@include transition(background-color $smash-transition ease-out);
		@include appearance(none);
		
		&:focus,
		&:active
		{
			background-color: $black;
		}
	}	
}

&-form
{
	
}