/* # Styles spécifiques à la tête de page */

&-header 
{
	background-color: $red;
	color: $white;	
	
	@include mq($until: desktop)
	{
		margin-bottom: smash-size($smash-lh*2, 'em');
	}
	
	@include mq(desktop)
	{
		margin-bottom: smash-size($smash-lh*3, 'em');
	}

	a 
	{
		color: inherit;
		@include background-image(linear-gradient(rgba(#000,0) 98%, rgba($white,1) 98%));
	}

	.#{$smash-prefix}-grid-container
	{
		@include mq($until: desktop)
		{
			padding-bottom: smash-size($smash-lh, 'em');
		}

		@include mq(desktop)
		{
			padding-right: smash-size(smash-grid-cols-width(2) + $smash-gutter);
			padding-bottom: smash-size($smash-lh*2 + $smash-lh/4*3, 'em');
		}
	}

	&-logo 
	{
		margin-bottom: smash-size($smash-lh*1.5, 'em');
		
		a 
		{
			@include inline-block(top);
			background: none;
		}
		
		img 
		{
			width: smash-size($smash-lh*4.5, 'em');
			height: smash-size($smash-lh*4.5, 'em');
		}
	}

	&-title 
	{
		margin-bottom: 0;
		 
		em 
		{
			display: block;
			font-weight: bold;
			color: $black;
			font-style: normal;
			text-transform: uppercase;
			letter-spacing: 0.005em; 
			margin-bottom: smash-size($smash-lh/4, 'em');
		}
		
		.#{$smash-prefix}-important
		{
			display: block;
		}
	}
}